[Unit]
Description=ManifoldGen API listening socket

[Socket]
ListenStream=127.0.0.1:8116
NoDelay=true
Service=manifoldgen.service

[Install]
WantedBy=sockets.target
